* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* border: 5px solid green; */
    overflow: [auto](1, 2);
    margin: 0 30px 0 30px;
}

main {
    display: grid;
    grid-template-columns: 2fr 21fr;
    gap: 10px;
    height: 100%;
    width: 100%;
    /* border: 5px solid black; */
    margin: 20px 20px 20px 0;
    padding: 20px 80px 20px 0;
    overflow: auto;
}

#icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 5px solid rgb(216, 72, 28); */
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 35px;
    height: 100%;
    margin: 0 10px 0 0;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
}

#screen {
    display: flex;
    flex-direction: column;
    /* border: 3px solid cyan; */
}

#cart {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(190, 180, 140);
    margin-bottom: 20px;
    /* border: 3px solid aquamarine; */
}

.menulist {
    display: grid;
    grid-template-columns: 12fr 5fr;
    gap: 10px;
}

#mainbody {
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 180, 140);
    /* border: 3px solid red; */
}

.catalog {
    display: grid;
    grid-template-columns: 2fr 7fr 5fr 2fr;
    gap: 30px;
    /* border: 3px solid lawngreen; */
}

img {
    width: 40px;
    height: 38px;
    border: 1px solid cyan;
    border-radius: 19px;
    margin: 3px 0 2px 15px;
}

.pricetag {
    margin: 3px 0 2px 5px;
}

/* .controls {
    margin: 3px 0 2px 5px;
} */

span.reduce, span.increase {
    font-size: 30px;
    font-weight: 80;
    padding: 0 3px;
}

.inputbox {
    border: none;
    width: 40px;
    height: 30px;
    text-align: center;
}

input[class="inputbox"]::placeholder {
    color: black;
    opacity: 1;
}

h4 {
    font-size: 30px;
    font-weight: 30;
    margin-top: 1px;
}

span, h4:hover {
    cursor: pointer;
}

#order {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* border: 3px solid crimson; */
}

#confirm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: rgb(190, 180, 140);
    padding: 15px 30px 15px 15px;
    text-align: left;
    /* border: 3px solid green; */
}

.header {
    text-align: left;
    margin-right: 10px;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px 0 5px;
}

#apply {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    border: 2px solid rgb(190, 180, 140);
    padding: 15px;
    text-align: left;
}

button {
    border: none;
    border-radius: 5px;
    background-color: black;
    font-size: 10px;
    height: 28px;
    color: white;
    width: 110px;
    padding: 0 10px;
    font-weight: 600;
}

div.promo input {
    height: 35px;
    width: 200px;
    font-size: 1em;
    padding: 0 7px;
}

button:hover {
    border: 1px solid black;
    background-color: wheat;
    color: black;
}