* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}

.bg{
    background-color:aquamarine;
    background-blend-mode:darken;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.493)), url(background/Background\ 4.jpg);
    height: 100%;
    /* width: 100vw; */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:cover;
    overflow: hidden;
}

div {
    color: white;
    text-align: center;
    margin: 200px 60px;
    font-size: 15px;
    font-family:sans-serif;
    font-weight: bolder;
}

button, a {
    height: 40px;
    width: 80px;
    border-radius: 2px;
    margin: 30px 0 0 30px;
    color: black;
}